NODE_ENV='development'
NODE_PORT=3001
NODE_LOG_LEVEL=info

JWT_TOKEN_EXPIRY=40000
JWT_ACCESS_TOKEN=secret
JWT_REFRESH_TOKEN=secret

AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_URL='postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=storage'

RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_USERNAME=
RABBIT_MQ_PASSWORD=
